table {
    /* width: 100%; */
}

mat-header-cell, mat-cell{
    justify-content: left;
}

.mat-column-Skill {
    width: 170px;
    border-right: 2px solid rgb(255, 35, 35);
}

.mat-column-LVL, .mat-column-STAT, .mat-column-BASE {
    width: 60px;
    text-align: center;
}