<table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">

    <!-- Skill column -->
    <ng-container matColumnDef="Skill">
        <th mat-header-cell *matHeaderCellDef> Skill </th>
        <td mat-cell *matCellDef="let skill"> {{skill.name}} </td>
    </ng-container>
    
    <!-- LVL column -->
    <ng-container matColumnDef="LVL">
        <th mat-header-cell *matHeaderCellDef> LVL </th>
        <td mat-cell *matCellDef="let skill"> {{skill.lvl}} </td>
    </ng-container>
    
    <!-- STAT column -->
    <ng-container matColumnDef="STAT">
        <th mat-header-cell *matHeaderCellDef> STAT </th>
        <td mat-cell *matCellDef="let skill"> {{skill.stat}} </td>
    </ng-container>
    
    <!-- BASE column -->
    <ng-container matColumnDef="BASE">
        <th mat-header-cell *matHeaderCellDef> BASE </th>
        <td mat-cell *matCellDef="let skill"> {{skill.base}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
